extends partials/layout.pug

block content
  each post in data
    .col.s12.m7
      .card.horizontal
        .card-image
           img(src=`${post.image}`)
        .card-stacked
          .card-content
            p Title: #{post.title}
            p Description: #{post.description}
          .card-action
            form(action=`/${post._id}/up` method="POST")
              input(type="submit" value="up")
            form(action=`/${post._id}/down` method="POST")
              input(type="submit" value="down")
            p #{post.upvotes} Upvotes
            form(action=`/comments/${post._id}/` method="GET")
              input(type="submit",value=`${post.comments.length} comments`)
