extends partials/layout.pug

block content
  each post in data
    .col.s12.m7
      .card.horizontal
        .card-image
           img(src=`${post.image}`)
        .card-stacked
          .card-content
            p #{post.title}
            p #{post.description}
          .card-action
            form(method="POST")
             button(type="submit",name="upvote",value=`[true,${post._id}]`) Upvote
             button(type="submit",name="upvote",value=`[false,${post._id}]`) Downvote
